@font-face {
  font-family: spartan;
  src: url(./assets/fonts/LeagueSpartan-Bold.otf);
}

@import "bootstrap/scss/functions";

@import "bootstrap/scss/variables";

@import "bootstrap/scss/mixins";

@import "bootstrap/scss/maps";

@import "bootstrap/scss/carousel";
@import "bootstrap/scss/utilities"; 
@import 'react-medium-image-zoom/dist/styles.css';

:root {
  --link-underline-padding: .5em;
  --personal-photo-dimensions: 38vw;
  --highlight-elements-color: rgba(203, 96, 80);
}

.app{
  font-family: spartan;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: spartan;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0; 
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  background-color: rgba(18, 28, 37);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.top-navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 1em 0;
  background-color: rgba(18, 28, 37);
  z-index: 10;
}

.top-navbar h2 {
  font-family: spartan;
  font-size: 2em;
  line-height: 1.1;
  align-self: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(64, 64, 64);
}

.links{
  display: flex;
  align-items: center;
  gap: 3em;
}

.links li{
  list-style: none;
}

.links li a{
  text-decoration: none;
  color: white;
}

.links li a:after{
  background-color: white;
  content: '';
  display: block;
  height: .1em;
  margin-left: calc(var(--link-underline-padding) * -1);
  margin-top: .2em;
  transition: width .3s;
  width: 0;
}

.links li a:hover:after, 
.download-zip-link:hover:after, 
.figma-link:hover:after, 
.game-link:hover:after,
.my-email-link:hover:after,
.my-linkedin-link:hover:after,
.github-link:hover:after{
  width: calc(100% + var(--link-underline-padding) * 2);
}

.home, .about, .projects{
  scroll-margin-top: 5em;
  margin-top: 5em;
}

.presentation{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation .personal-info{
  display: flex;
  flex-direction: column;
}

.hello-span, .personal-role{
  font-size: 2em;
  margin-left: 3em;
}

.highlight{
  color: var(--highlight-elements-color);
}

.presentation span{
  display: block;
}

.presentation .personal-name{
  font-family: sans-serif;
  display: flex;
  font-size: 1.7em;
  margin: 1.2em 0;
}

.presentation .personal-name::before, .projects h4::before{
  background-color: var(--highlight-elements-color);
  align-self: flex-end;
  margin: 0 .3em 0.3em 0.3em;
  content: '';
  height: .1em;
  width: 6em;
}

.presentation img{
  width: var(--personal-photo-dimensions);
  height: calc(var(--personal-photo-dimensions) - 7vw);
  justify-self: end;
}

.info-buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0 0 5.5em;
}

button{
  width: 10em;
  height: 4em;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.info-buttons .resume-btn{
  background-color: transparent;
  border: 2px solid var(--highlight-elements-color);
}

.info-buttons .resume-btn:hover{
  background-color: rgb(28, 44, 57);
}

.info-buttons .contact-me-btn, .submit-form-btn{
  background-color: var(--highlight-elements-color);
  border: 2px solid rgb(137, 137, 137);
  color: rgb(40, 40, 40);
}

.info-buttons .contact-me-btn:hover, .submit-form-btn:hover{
  background-color: rgb(206, 56, 56)
}

.skills-list{
  font-family: sans-serif;
  width: 100vw;
  background-color: rgb(26, 41, 54);
  height: 4em;
  display: flex;
  align-items: center;
}

.skills-list ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  list-style: none;
  color: rgb(85, 85, 85);
  font-weight: bold;
}

.about{
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about .services{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.about .services .services-description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  height: 212px;
}

.about .services .services-description span{
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px; 
}

.timeline-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vertical-line {
  width: 4px;
  height: 60px; 
  background-color: var(--highlight-elements-color);
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--highlight-elements-color);
  border-radius: 50%; 
  margin: 4px 0;     
}

.about .about-me-section{
  width: 40%;
}

h4{
  font-family: spartan;
}

p{
  font-family: sans-serif;
  line-height: 2em;
}

.projects{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .projects-carousel{
  margin: 20px 0;
}

.projects .database-project, .projects .ux-ui-project{
  display: flex;
}

.projects .project-description{
  width: 50%;
  height: 100%;
}

h4{
  display: flex;
}

.custom-carousel-container {
  padding: 0 60px; 
  position: relative;
}

.custom-carousel-container .carousel-control-prev {
  left: -50px; 
  width: 50px;
}

.custom-carousel-container .carousel-control-next {
  right: -50px;
  width: 50px;
}

.custom-carousel-container .carousel-indicators {
  bottom: -40px; 
}

.custom-carousel-container .carousel-control-prev-icon,
.custom-carousel-container .carousel-control-next-icon {
  filter: none;
  border-radius: 50%;
  padding: 15px;
}

.visually-hidden{
  display: none;
}

.internal-carousel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.internal-carousel .carousel-item.active {
    min-height: 420px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.internal-carousel .carousel-indicators {
    bottom: 60px; 
    margin-bottom: 0;
}

[data-rmiz-modal-overlay="visible"] {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.download-zip-link, 
.figma-link, 
.game-link,
.my-email-link,
.my-linkedin-link,
.github-link{
  display: block;
  text-decoration: none;
  color: var(--highlight-elements-color);
  margin-top: .2em;
}

.figma-link{
  width: 15em;
  align-self: center;
}

.game-link{
  width: 10em;
  align-self: center;
  margin-bottom: 30px;
}

.download-zip-link:after, 
.figma-link:after, 
.game-link:after,
.my-email-link:after,
.my-linkedin-link:after,
.github-link:after{
  background-color: var(--highlight-elements-color);
  content: '';
  display: block;
  height: .1em;
  margin-left: calc(var(--link-underline-padding) * -1);
  margin-top: .2em;
  transition: width .3s;
  width: 0;
}

.ux-ui-project{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.ux-ui-project section{
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.ux-ui-project .vertical-line{
  height: 300px;
}

.game-project{
  display: flex;
  flex-direction: column;
}

.contacts{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.contacts .contact-me-container{
  display: flex;
}

.contacts .contact-me-container .contact-me-direct-links{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.contacts .contact-me-container .contact-me-direct-links span{
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-form{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}

input, textarea{
  outline: none;
  border: none;
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgb(28, 44, 57);
}

input{
  height: 2em;
}

textarea{
  resize: none;
  width: 100%;
  height: 20em;   
}

input:focus, textarea:focus{
  border: 2px solid var(--highlight-elements-color);
}

.submit-form-btn{
  align-self: center;
  background-color: var(--highlight-elements-color);
}