.about{
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 500px) {
  .about{
    display: flex;
    flex-direction: column-reverse;
  }
}

.about .services{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.about .services .services-description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  height: 212px;
}

.about .services .services-description span{
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px; 
}

.timeline-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--highlight-elements-color);
  border-radius: 50%; 
  margin: 4px 0;     
}

.about .about-me-section{
  width: 40%;
}