.footer-section{
  width: 100vw;
  background-color: rgb(28, 44, 57);
}

@media (max-width: 500px) {
  .footer-section{
    font-size: 13px;
  }
}

.footer-container{
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}