.presentation{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation .personal-info{
  display: flex;
  flex-direction: column;
}

.hello-span, .personal-role{
  font-size: 2em;
  margin-left: 3em;
}

.presentation span{
  display: block;
}

.presentation .personal-name{
  font-family: sans-serif;
  display: flex;
  font-size: 1.7em;
  margin: 1.2em 0;
}

.presentation .personal-name::before, .projects h4::before{
  background-color: var(--highlight-elements-color);
  align-self: flex-end;
  margin: 0 .3em 0.3em 0.3em;
  content: '';
  height: .1em;
  width: 6em;
}

.presentation img{
  width: var(--personal-photo-dimensions);
  height: calc(var(--personal-photo-dimensions) - 7vw);
  justify-self: end;
}

.info-buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0 0 5.5em;
}

.info-buttons .resume-btn{
  background-color: transparent;
  border: 2px solid var(--highlight-elements-color);
}

.info-buttons .resume-btn:hover{
  background-color: rgb(28, 44, 57);
}

.info-buttons .contact-me-btn, .submit-form-btn{
  background-color: var(--highlight-elements-color);
  border: 2px solid rgb(137, 137, 137);
  color: rgb(40, 40, 40);
}

.info-buttons .contact-me-btn:hover, .submit-form-btn:hover{
  background-color: rgb(206, 56, 56)
}

.skills-list{
  font-family: sans-serif;
  width: 100vw;
  background-color: rgb(26, 41, 54);
  height: 4em;
  display: flex;
  align-items: center;
}

.skills-list ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  list-style: none;
  color: rgb(85, 85, 85);
  font-weight: bold;
}