.top-navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 1em 0;
  background-color: rgba(18, 28, 37);
  z-index: 10;
}

.top-navbar h2 {
  font-family: spartan;
  font-size: 2em;
  line-height: 1.1;
  align-self: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(64, 64, 64);
}

.top-navbar > .links{
  display: flex;
  align-items: center;
  gap: 3em;
}

.links li{
  list-style: none;
}

.links li a{
  text-decoration: none;
  color: white;
}

.links li a:after{
  background-color: white;
  content: '';
  display: block;
  height: .1em;
  margin-left: calc(var(--link-underline-padding) * -1);
  margin-top: .2em;
  transition: width .3s;
  width: 0;
}

.mobile-menu{
  align-self: flex-start;
  width: 30vw;
  height: 35vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: calc(-30vw + (var(--mobile-menu-icon-dimensions) + 20px));
  transition: all 0.2s ease-in-out;
}

.mobile-menu img{
  width: var(--mobile-menu-icon-dimensions);
  height: var(--mobile-menu-icon-dimensions);
  margin: .7em;
  cursor: pointer;
}

.mobile-menu.active{
  right: 0;
  background-color: rgba(18, 28, 37);
}

.mobile-menu .links{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  margin: 0;
}