.top-navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4em;
  padding: 1em 0;
  background-color: rgba(18, 28, 37);
  z-index: 1000;
}

.top-navbar h2 {
  font-family: spartan;
  font-size: 2em;
  line-height: 1.1;
  align-self: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(64, 64, 64);
}

.top-navbar > .links{
  display: flex;
  align-items: center;
  gap: 3em;
}

.links li{
  list-style: none;
}

.links li a{
  text-decoration: none;
  color: white;
}

.links li a:after{
  background-color: white;
  content: '';
  display: block;
  height: .1em;
  margin-left: calc(var(--link-underline-padding) * -1);
  margin-top: .2em;
  transition: width .3s;
  width: 0;
}

.mobile-menu{
  align-self: flex-start;
  width: 50vw;
  height: 35vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: calc(-50vw + (var(--mobile-menu-icon-dimensions) + 40px));
  transition: all 0.2s ease-in-out;
  z-index: 999;
  border-bottom-left-radius: 10px;
}

.mobile-menu img{
  width: var(--mobile-menu-icon-dimensions);
  height: var(--mobile-menu-icon-dimensions);
  margin: .7em;
  cursor: pointer;
}

.mobile-menu.active{
  transform: translateX(calc(-50vw + (var(--mobile-menu-icon-dimensions) + 40px)));
  background-color: rgba(18, 28, 37);
}

.mobile-menu .links{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  margin: 0;
}

.blur {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 6em;
   background-color: rgba(0, 0, 0, 0.55);
   z-index: 998;
   opacity: 0;
   visibility: hidden;
   backdrop-filter: blur(5px);
   transition: opacity 0.3s ease, visibility 0.3s ease;
}

.blur.is-active {
   opacity: 1;
   visibility: visible;
}